[package]
name = "redis-module"
version = "0.1.0"
authors = ["sigoden <sigoden@gmail.com>"]
edition = "2018"

[dependencies]
enum-primitive-derive = "0.1"
num-traits = "0.2"
bitflags = "1.2.1"

[build-dependencies]
bindgen = "0.53"
cc = "1.0"

[features]
default = []
experimental-api = []


[[example]]
name = "simple"
crate-type = ["cdylib"]

[[example]]
name = "helloworld"
crate-type = ["cdylib"]
